* {
  box-sizing: border-box;
  background-color: black;
  color: green;
}

body {  
  font-family: "Calibri", "Roboto", sans-serif;
}

.container{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#choose-data {
  width: 200px;
  margin: 100px auto 50px;
}

#ranking{
  display: flex;
  justify-content: center;
}

#log{
  display: flex;
  justify-content: center;
}
